# Для Docker Compose (локальная MongoDB)
MONGO_INITDB_ROOT_USERNAME=user
MONGO_INITDB_ROOT_PASSWORD=123
MONGO_INITDB_DATABASE=database

# Для подключения в коде (локальная)
MONGODB_URI=mongodb://user:123@mongodb:27017/database?authSource=admin

# Для подключения к кластеру 
# MONGODB_URI=mongodb+srv://user:example123@cluster0.yevxekt.mongodb.net/database?appName=Cluster0
