# Для Docker Compose (локальная MongoDB)
MONGO_INITDB_ROOT_USERNAME=user
MONGO_INITDB_ROOT_PASSWORD=123
MONGO_INITDB_DATABASE=database

# Backend
VITE_API_URL=http://localhost:8000/api

# Для подключения в коде (локальная)
MONGODB_URI=mongodb://user:123@db:27017/database?authSource=admin

# Для подключения к кластеру
# MONGODB_URI=mongodb+srv://user:example123@cluster0.yevxekt.mongodb.net/database?appName=Cluster0

JWT_SECRET_KEY=1a081f924c648525dad586ed9bf23d246033b91b2783b47bfe1c98b7e654b07b
