@use "variables" as *;
@use "mixins" as *;

.form {
  @include flex-center;
  padding: 30px;
  gap: 24px;
  background: $surface-color;
  box-shadow: $box-shadow;
  border-radius: 16px;
  outline: 1px rgba(0, 0, 0, 0.10) solid;
  outline-offset: -1px;
}

.legend {
  @include flex-center;
  align-self: stretch;
  height: 55px;
  align-items: flex-end;
  gap: 4px;
}

.legendText {
  @include flex-center;
  @include text-style(24px, 600, $on-surface-color, 28.8px);
  align-self: stretch;
  text-align: center;
  text-decoration: underline;
}