.page {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: white;
}

.layoutBody {
  width: 100%;
  padding: 96px 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}