$surface-color: #FFFFFF;
$on-surface-color: #1E1E1E;

$primary-color: #1E1E1E;
$on-primary-color: #FFFFFF;

$secondary-color: #757575;

$border-color: #D9D9D9;
$box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.03), 0px 4px 8px rgba(0, 0, 0, 0.02);

$red-color: #B83A2D;
$green-color: #4E6851;
$yellow-color: #AAA350;