@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

.cardContainer {
  width: 1166px;
  height: 525px;
  background: $surface-color;
  box-shadow: $box-shadow;
  overflow: visible;
  border-radius: 16px;
  outline: 1px solid rgba(0, 0, 0, 0.10);
  outline-offset: -1px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 24px;
  padding: 24px;
  box-sizing: border-box;
}

.mainTitle {
  @include text-style(24px, 600, $on-surface-color, 28.8px);
}

.subTitle {
  @include text-style(16px, 400, $secondary-color, 22.4px);
}

.cardImage {
  align-self: stretch;
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 16px;
}

/* ---------- grid items ---------- */

.headerGridItem {
  grid-column: span 2;
  grid-row: span 1;
  margin-bottom: 8px;
}

.clientNameGridItem,
.phoneGridItem,
.materialGridItem,
.stagesGridItem{
  grid-column: span 1;
  grid-row: span 1;
}

.addressGridItem,
.kitchenTypeGridItem,
.notesGridItem,
.buttonGridItem {
  grid-column: span 2;
  grid-row: span 1;
}

.imageGridItem {
  grid-column: span 2;
  grid-row: span 2;
}

.pricingGridItem {
  grid-column: span 5;
  grid-row: span 1;
}
