@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.clickableText {
  @include flex-center;
  align-self: stretch;
}

.innerClickableText {
  @include text-style(16px, 400, $secondary-color, 22px);
  text-align: center;
  text-decoration: underline;
  cursor: pointer;
}